.section {
  padding: 20px;
}
.section h2 {
  color: #fefffd;
  background-color: #020ef7;
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 5px #fcf801;
  text-shadow: 1px 3px 0 #f60303, 1px 13px 5px #fd0303;
}
.section ul {
  list-style-type: '\1F44D';

  text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
    #ff2d95 0px 0px 20px, #eaff2d 0px 0px 30px, #d8ff2d 0px 0px 40px,
    #ff2d95 0px 0px 50px, #ff2d95 0px 0px 75px;
}
.title {
  font-size: 30px;
  margin-bottom: 20px;
}

.item {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}
.item a {
  text-decoration: none;
  color: #ff07f7;
}
