.navigation {
  font-size: 40px;
  font-weight: 500;
  text-decoration: none;
}

.navigation:not(:last-child) {
  margin-right: 30px;
}

.activeNavigation {
  color: rgb(255, 0, 242);

  text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
    #ff2d95 0px 0px 20px, #ff2d95 0px 0px 30px, #ff2d95 0px 0px 40px,
    #ff2d95 0px 0px 50px, #ff2d95 0px 0px 75px;
}
