.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  padding-bottom: 24px;
  text-align: center;
}
.spiner {
  position: fixed;
  left: 41%;
  color: rgb(132, 0, 255);
  top: 35%;
}
